@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<main style="height: 4200px;">

    <div class="big-img">
        Image Here
    </div>

    <div class="first-card-area">
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
    </div>

    <div class="nini-text-area">
        <p>Novidade</p>
		<p><strong>Naturalmente <span>Frescas</span></strong></p>
    </div>

    <div class="second-card-area">
        <div class="col card c-1">
			<div class="c-1-img">1</div>
            <div class="c-1-text">
                <p class="badges"><span>NOVIDADE</span><span>-40%</span></p>
                <p class="price">&euro;1.02 <s>&euro; 1.69</s></p>
                <p class="name">Barra Snack Amêndoa e Chocolate 35g</p>
                <p class="brand">CEM PORCENTO</p>
            </div>
        </div>
        <div class="col-1">
            <div class="card c-2 flex-row">
				<div class="c-2-img">2</div>
                <div class="c-2-text">
                    <p class="badges"><span>NOVIDADE</span><span>-40%</span></p></p>
                    <p class="price">&euro; 3.49</p>
                    <p class="name">Chocolate de Leite Crunchy Proteína sem açucar 100g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="sub-col">
                <div class=" card c-3">
					<div class="c-3-img">3</div>
                    <div class="c-3-text">
                        <p class="badges"><span>NOVIDADE</span></p>
                        <p class="price">&euro;2.99</p>
                        <p class="name">Cornflakes Zero Açucares sem Glúten 250g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
                <div class=" card c-4">
					<div class="c-4-img">4</div>
                    <div class="c-4-text">
                        <p class="badges"><span>NOVIDADE</span></p>
                        <p class="price">&euro;7.99</p>
                        <p class="name">Geleia Real +13 Vitaminas 30 Capsulas</p>
                        <p class="brand">FORMA +</p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-2">
            <div class=" card c-5">
				<div class="c-5-img">5</div>
                <div class="c-5-text">
                    <p class="badges"><span>NOVIDADE</span></p>
                    <p class="price">&euro;4.49</p>
                    <p class="name">Granola Chocolate sem Glúten 300g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class=" card c-6 flex-row">
				<div class="c-6-img">6</div>
                <div class="c-6-text">
                    <p class="badges"><span>NOVIDADE</span></p>
                    <p class="price">&euro;4.59</p>
                    <p class="name">Feijão Azuki Bio 1kg
                    <p class="brand">DA TERRA</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="third-card-area"></div>
   
    <div class="slogan">
        <p>viver a vida</p>
        <p><strong>CEMPORCENTO</strong></p>
        <p class="citacao">"O bem estar da tua mente depende dos teus pensamentos, tal como o teu corpo depende dos bons alimentos que injetes"</p>
        <p class="name">JOSÈ HENRIQUE DE SOUZA</p>
    </div>

    <div class="area-card">
        <div class="top">
            <div class="t-c-1">1</div>
            <div class="t-c-2">2</div>
            <div class="t-c-1">3</div>
            <div class="t-c-2">4</div>
        </div>
        <div class="bottom">
            <div class="t-c-2">1</div>
            <div class="t-c-1">2</div>
            <div class="t-c-2">3</div>
            <div class="t-c-1">4</div>
        </div>
    </div>
   
    <div class="extend-mask"></div>

    <div class="fourth-card-area">
        <p><strong>Opturnidade</strong><br /> 100% imperdiveis</p>

        <div class="f-card-area flex-row">
			<div class="f-card">
				<div class="f-c-img">1</div>
				<div class="f-c-text">
                    <p class="badges">Text</p>
                    <p class="price">&euro;1.99</p>
                    <p class="name">Bolacha Milho sem Sal Bio 110g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <div class="f-c-img">2</div>
                <div class="f-c-text">
                    <p class="badges">BestSeller</p>
                    <p class="price">&euro;9.99</p>
                    <p class="name">SEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <div class="f-c-img">3</div>
                <div class="f-c-text">
                    <p class="badges"><span>FIM-PRAZO</span> <span>-50%</span></p>
					<p class="price">&euro;0.45 <s>&euro;0.89</s></p>
                    <p class="name">Marinheiras de CEbola e Pimento 50g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <div class="f-c-img">4</div>
                <div class="f-c-text">
                    <p class="badges"><span>-33% CÓD. <strong>BEAUTY33</strong> </span></p>
                    <p class="price">&euro;2.49</p>
                    <p class="name">Champô Sólido Lavanda Vegan 100g</p>
                    <p class="brand">GOLDEN SILK</p>
                </div>
            </div>
            <div class="f-card">
                <div class="f-c-img">5</div>
                <div class="f-c-text">
                    <p class="badges"></p>
                    <p class="price">&euro;1.02</p>
                    <p class="name">Chá de Infusão Anis Estrelado 50g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <div class="f-c-img">6</div>
                <div class="f-c-text">
                    <p class="badges"><span>IVA ZERO</span></p>
                    <p class="price">&Euml;2.60</p>
                    <p class="name">FEIjão Mungo Bio 250g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
        </div>

    </div>

    <div class="fift-card-area">
        <p class="text" style="font-size:40px; color:green">já faz parte da familia?</p>
        <div class="fi-card-area">
            <div class="fi-c">Image Here</div>
            <div class="fi-c">Image Here</div>
            <div class="fi-c">Image Here</div>
            <div class="fi-c">Image Here</div>
        </div>
        <div class="istagram">
            <div class="insta-img"></div>
            <p>#vivacomcemporcento  #inspirehealthylife</p>
        </div>
    </div>

    <div class="sixt-card-area">
        <p class="s-c-p">Receitas <br /><strong>Saúde à sua mesa</strong></p>
        <div class="s-c">
            <div class="s-card">
                <div class="s-c-img">img</div>
                <div class="s-c-text">
                    <p>Peras com Sumo de Uva</p>
                    <p>Sem álcool e sem adição de açúcar</p>
                    <p>SEM ADIÇÃO DE AÇÚCAR</p>
                </div>
            </div>
            <div class="s-card">
                <div class="s-c-img">img</div>
                <div class="s-c-text">
                    <p>Bolo de Chocolate com cobertura e recheio Vegan</p>
                    <p>Um bolo delicioso, sem leite nem ovos</p>
                    <p>VEGAN</p>
                </div>
            </div>
            <div class="s-card">
                <div class="s-c-img">img</div>
                <div class="s-c-text">
                    <p>Sangria sem álcool</p>
                    <p>Repleta de anti-oxidantes</p>
                    <p>OCASIÕES FESTIVAS</p>
                </div>
            </div>
        </div>
    </div>
</main>
