@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<main style="height: 4200px;">

    <div class="big-img">
        image here
    </div>

    <div class="first-card-area">
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
    </div>

    <div class="nini-text-area">
        <p>Novidade</p>
		<p><strong>Naturalmente <span>Frescas</span></strong></p>
    </div>
   
    <div class="second-card-area">
        <div class="col-l">
            <div class="col-0 card c-1">
                <img src="~/img/Products/barra-snack-natura-amendoa-e-chocolate-35g.jpg" class="c-1-img">
                <div class="c-1-text">
                    <p class="badges"><span class="new">NOVIDADE</span><span class="discount">-40%</span></p>
                    <p class="price">&euro;1.02 <s class="old">&euro; 1.69</s></p>
                    <p class="name">Barra Snack Amêndoa e Chocolate 35g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="col-1">
                <div class="card c-2 flex-row">
                    <img src="~/img/Products/chocolate-de-leite-crunchy-proteina-sem-acucar-100g.jpg" class="c-2-img">
                    <div class="c-2-text">
                        <div class="badges"><span class="new">NOVIDADE</span><span class="discount">-40%</span></div>
                        <p class="price">&euro; 3.49</p>
                        <p class="name">Chocolate de Leite Crunchy Proteína sem açucar 100g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
                <div class="sub-col">
                    <div class=" card c-3">
                        <img src="~/img/Products/cornflakes-zero-acucares-sem-gluten-250g.jpg" class="c-3-img">
                        <div class="c-3-text">
                            <p class="badges"><span class="new">NOVIDADE</span></p>
                            <p class="price">&euro;2.99</p>
                            <p class="name">Cornflakes Zero Açucares sem Glúten 250g</p>
                            <p class="brand">CEM PORCENTO</p>
                        </div>
                    </div>
                    <div class=" card c-4">
                        <img src="~/img/Products/geleia-real-13-vitaminas-30-capsulas.jpg" class="c-4-img">
                        <div class="c-4-text">
                            <p class="badges"><span class="new">NOVIDADE</span></p>
                            <p class="price">&euro;7.99</p>
                            <p class="name">Geleia Real +13 Vitaminas 30 Capsulas</p>
                            <p class="brand">FORMA +</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class=" card c-5">
				<img src="~/img/Products/granola-chocolate-sem-gluten-300g.jpg" width="200" class="c-5-img">
                <div class="c-5-text">
                    <p class="badges"><span class="new">NOVIDADE</span></p>
                    <p class="price">&euro;4.49</p>
                    <p class="name">Granola Chocolate sem Glúten 300g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class=" card c-6 flex-row">
				<img src="~/img/Products/feijao-azuki-bio-250g.jpg" class="c-6-img">
                <div class="c-6-text">
                    <p class="badges"><span class="new">NOVIDADE</span></p>
                    <p class="price">&euro;4.59</p>
                    <p class="name">Feijão Azuki Bio 1kg
                    <p class="brand">DA TERRA</p>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="third-card-area">
        <div class="top-mask"></div>
        <div class="main">
            <div class="slogan">
                <p>viver a vida</p>
                <p><strong>CEMPORCENTO</strong></p>
                <p class="citacao">"O bem estar da tua mente depende dos teus pensamentos, tal como o teu corpo depende dos bons alimentos que injetes"</p>
                <p class="name">JOSÈ HENRIQUE DE SOUZA</p>
            </div>
            <div class="area-card">
                <div class="top">
                    <img src="~/img/Assets/725f55f2.jpg" class="t-c-1">
                    <img src="~/img/Assets/7186f611.jpg" class="t-c-2">
                    <img src="~/img/Assets/af197bff.jpg" class="t-c-1">
                    <img src="~/img/Assets/606a7200.jpg" class="t-c-2">
                </div>
                <div class="bottom">
                    <img src="~/img/Assets/d15a7166.jpg" class="t-c-2">
                    <img src="~/img/Assets/c21a08d4.jpg" class="t-c-1">
                    <img src="~/img/Assets/b79f4cb8.jpg" class="t-c-2">
                    <img src="~/img/Assets/3ec9b8ac.jpg" class="t-c-1">
                </div>
            </div>
        </div>
        <div class="bottom-mask"></div>
    </div>

    <div class="fourth-card-area">
        <p style="position:relative; left: 5%; top: 50px;"><strong style="color: darkorange; font-size:30px;">Opturnidade</strong><br /> 100% imperdiveis</p>

        <div class="f-card-area flex-row">
			<div class="f-card">
				<img src="~/img/Products/bolacha-de-milho-bio.jpg" class="f-c-img">
				<div class="f-c-text">
                    <p class="badges"><span class="deal">&#x1F381; 2=3</span></p>
                    <p class="price">&euro;1.99</p>
                    <p class="name">Bolacha Milho sem Sal Bio 110g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <img src="~/img/Products/acucar-de-coco-bio-1kg.jpg" class="f-c-img">
                <div class="f-c-text">
                    <p class="badges"><span class="best">BestSeller</span></p>
                    <p class="price">&euro;9.99</p>
                    <p class="name">Açúcar de Coco Bio 1Kg</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <img src="~/img/Products/mini-marinheiras-de-cebola-e-pimento-50g.jpg" class="f-c-img">
                <div class="f-c-text">
                    <p class="badges"><span class="end">FIM-PRAZO</span> <span class="discount">-50%</span></p>
					<p class="price">&euro;0.45 <s class="old">&euro;0.89</s></p>
                    <p class="name">Marinheiras de Cebola e Pimento 50g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <img src="~/img/Products/champo-solido-lavanda-vegan-100g.jpg" class="f-c-img">
                <div class="f-c-text">
                    <p class="badges"><span class="code">-33% CÓD. <strong>BEAUTY33</strong> </span></p>
                    <p class="price">&euro;2.49</p>
                    <p class="name">Champô Sólido Lavanda Vegan 100g</p>
                    <p class="brand">GOLDEN SILK</p>
                </div>
            </div>
            <div class="f-card">
                <img src="~/img/Products/anis-estrelado.jpg" class="f-c-img">
                <div class="f-c-text">
                    <p class="badges"><span></span></p>
                    <p class="price">&euro;1.02</p>
                    <p class="name">Chá de Infusão Anis Estrelado 50g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
            <div class="f-card">
                <img src="~/img/Products/feijao-mung-bio-250g.jpg" class="f-c-img">
                <div class="f-c-text">
                    <p class="badges"><span class="iva">IVA ZERO</span></p>
                    <p class="price">&euro;2.60</p>
                    <p class="name">Feijão Mung Bio 250g</p>
                    <p class="brand">CEM PORCENTO</p>
                </div>
            </div>
        </div>

    </div>

    <div class="fift-card-area">
        <p class="text" style="font-size:40px; color:green">já faz parte da familia?</p>
        <div class="fi-card-area">
            <img class="fi-c" src="~/img/Assets/Asset 1.png">
            <img class="fi-c" src="~/img/Assets/Asset 2.png">
            <img class="fi-c" src="~/img/Assets/Asset 3.png">
            <img class="fi-c" src="~/img/Assets/Asset 4.png">
        </div>
        <div class="istagram">
            <div class="insta-img"></div>
            <p>#vivacomcemporcento  #inspirehealthylife</p>
        </div>
    </div>

    <div class="sixt-card-area">
        <p class="s-c-p">Receitas <br /><strong>Saúde à sua mesa</strong></p>
        <div class="s-c">
            <div class="s-card">
                <img src="~/img/Assets/peras-com-sumo-de-uva.jpg" width="450" class="s-c-img">
                <div class="s-c-text">
                    <p><strong stryle="font-size: 30px">Peras com Sumo de Uva</strong></p>
                    <p>Sem álcool e sem adição de açúcar</p>
                    <span style="background-color: orchid; border-radius:6px; font-size:15px; color: white; padding: 3px;">SEM ADIÇÃO DE AÇÚCAR</span>
                </div>
            </div>
            <div class="s-card">
                <img src="~/img/Assets/bolo-chocolate-vegan-de-natal.jpg" width="450" class="s-c-img">
                <div class="s-c-text">
                    <p><strong stryle="font-size: 30px"> Bolo de Chocolate com cobertura e recheio Vegan</strong></p>
                    <p>Um bolo delicioso, sem leite nem ovos</p>
                    <span style="background-color: #EBA601; border-radius:6px; font-size:15px; color: white; padding: 3px;">VEGAN</span>
                </div>
            </div>
            <div class="s-card">
                <img src="~/img/Assets/sangria-sem-alcool.jpg" width="450" class="s-c-img">
                <div class="s-c-text">
                    <p><strong stryle="font-size: 30px"> Sangria sem álcool</strong></p>
                    <p>Repleta de anti-oxidantes</p>
                    <span style="background-color: #FA1966; border-radius:6px; font-size:15px; color: white; padding: 3px;">OCASIÕES FESTIVAS</span>
                </div>
            </div>
        </div>
    </div>-->
</main>
