@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<main>

    <div class="big-img">
        Image Here
    </div>

    <div class="first-card-area">
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
        <div class="card no-img">Image here</div>
    </div>

    <div class="nini-text-area">
        <p>Novidade</p>
		<p><strong>Naturalmente <span>Frescas</span></strong></p>
    </div>

    <div class="second-card-area">
        <div class="col card c-1">
			<div class="c-1-img">1</div>
            <div class="c-1-text">
                <p class="badges">1</p>
                <p class="price">2</p>
                <p class="name">3</p>
                <p class="brand">4</p>
            </div>
        </div>
        <div class="col-1">
            <div class="card c-2 flex-row">
				<div class="c-2-img">2</div>
                <div class="c-2-text">
                    <p class="badges">1</p>
                    <p class="price">2</p>
                    <p class="name">3</p>
                    <p class="brand">4</p>
                </div>
            </div>
            <div class="sub-col">
                <div class=" card c-3">
					<div class="c-3-img">3</div>
                    <div class="c-3-text">
                        <p class="badges">1</p>
                        <p class="price">2</p>
                        <p class="name">3</p>
                        <p class="brand">4</p>
                    </div>
                </div>
                <div class=" card c-4">
					<div class="c-4-img">4</div>
                    <div class="c-4-text">
                        <p class="badges">1</p>
                        <p class="price">2</p>
                        <p class="name">3</p>
                        <p class="brand">4</p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-2">
            <div class=" card c-5">
				<div class="c-5-img">5</div>
                <div class="c-5-text">
                    <p class="badges">1</p>
                    <p class="price">2</p>
                    <p class="name">3</p>
                    <p class="brand">4</p>
                </div>
            </div>
            <div class=" card c-6 flex-row">
				<div class="c-6-img">6</div>
                <div class="c-6-text">
                    <p class="badges">1</p>
                    <p class="price">2</p>
                    <p class="name">3</p>
                    <p class="brand">4</p>
                </div>
            </div>
        </div>
    </div>

    <div class="third-card-area">
        <div class="slogan">
			<p>viver a vida</p>
			<p><strong>CEMPORCENTO</strong></p>
            <p class="citacao">"O bem estar da tua mente depende dos teus pensamentos, tal como o teu corpo depende dos bons alimentos que injetes"</p>
            <p class="name">JOSÈ HENRIQUE DE SOUZA</pc>
        </div>        <div class="card-area">

        </div>


    </div>
























</main>
