@{
    ViewData["Title"] = "Kids Products Page";
}
<head>
    <link href="~/css/kids.css" rel="stylesheet" />
</head>

<main>
    <div class="tes">
        <div class="form justify-content-md-center">
            Categoria
            <select class="form-select" aria-label="Default select example" style="width:210px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Alimentação Saudável</option>
            </select>
            Ordenar
            <select class="form-select" aria-label="Default select example" style="width:120px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Recentes</option>
            </select>
            Filtros
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
            </select>
            Marcas
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
            </select>
            Preço
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
            </select>
        </div>
        <p class="c-a-p">Alimentação Saudável <br /><strong>Especial Crianças</strong> </p>
        <div class="first-card-area">

            <a class="col-0 card c-1" asp-action="Product" asp-controller="Home" style="">
                <img src="~/img/Products/go-snack-cacau-e-amendoim-express-120g-noBg.png" class="c-1-img">
                <div class="c-1-text">
                    <p class="badges"><span class="best">BESTSELLER</span> <span class="discount"> -10%</span></p>
                    <p class="price">&euro;1.79 <s class="old">&euro;1.99</s></p>
                    <p class="name">Go Snack e Amendoim Express 120g</p>
                    <p class="brand">CEM PORCENTO<p>
                </div>
            </a>
            <div class="col-1">
                <div class="card c-2 flex-row">
                    <img src="~/img/Products/granola-chocolate-sem-gluten-300g.jpg" class="c-2-img">
                    <div class="c-2-text">
                        <p class="badges"><span class="new">NOVIDADE</span> <span class="iva"> IVA ZERO</span></p>
                        <p class="price">&euro;4.49</p>
                        <p class="name">Granola Chocolate sem Glúten 300g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
                <div class="sub-col">
                    <div class=" card c-3">
                        <img src="~/img/Products/cornflakes-zero-acucares-sem-gluten-250g.jpg" class="c-3-img">
                        <div class="c-3-text">
                            <p class="badges"><span class="new">NOVIDADE</span> <span class="iva"> IVA ZERO</span></p>
                            <p class="price">&euro;2.99</p>
                            <p class="name">Cornflakes Zero Açucáres sem Glúten 250g</p>
                            <p class="brand">CEM PORCENTO</p>
                        </div>
                    </div>
                    <div class=" card c-4">
                        <img src="~/img/Products/honey-rings-sem-gluten-250g.jpg" class="c-4-img">
                        <div class="c-4-text">
                            <p class="badges"><span class="deal">&#x1F381; 2=3</span></p>
                            <p class="price">&euro;4.49</p>
                            <p class="name">Honey Rings sem Glúten 250g</p>
                            <p class="brand">CEM PORCENTO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class=" card c-5">
                    <img src="~/img/Products/go-snack-caju-e-coco-express-120g.jpg" width="200" class="c-5-img">
                    <div class="c-5-text">
                        <p class="badges"><span class="discount">-10%</span></p>
                        <p class="price">&euro;1.79 <s class="old">&euro;1.99</s></p>
                        <p class="name">Go Snack Caju e Coco Express 120g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <div class="test"></div>

    <div style="margin-bottom: 50px;">
        <div class="card-group d-flex flex-row" style="margin: 5%;">
            <div class="card">
                <img src="~/img/Products/aveia-deliciosa-cacau-instantanea-500g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;3.29</div>
                <div class=" card-text">Aveia + Deliciosa Cacau Instantânea 500gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/aveia-nutritiva-instantanea-500g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;1.99</div>
                <div class=" card-text">Aveia + Nutritiva Instantânea 500gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/bolacha-aurora-original-sem-gluten-100g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.49</div>
                <div class=" card-text">Bolacha Aurora Original sem Glúten 100gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/bolacha-cacau-sem-gluten-100g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.49</div>
                <div class=" card-text">Bolacha Cacau sem Glúten 100gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/bolacha-maria-sem-acucar-e-sem-gluten-200g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.99</div>
                <div class=" card-text">Bolacha Maria sem Açúcar e sem Glúten 200gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/choco-balls-sem-gluten-250g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;4.49</div>
                <div class=" card-text">Choco-balls sem Glúten 200gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>  
        </div>
    
        <div class="card-group d-flex flex-row" style="margin: 0% 5%;">
            <div class="card">
                <img src="~/img/Products/choco-muesli-250g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.5</div>
                <div class=" card-text">Choco-muesli 250gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/choco-rice-250g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.99</div>
                <div class=" card-text">Choco-rice 250gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/cornflakes-sem-gluten-250g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.99</div>
                <div class=" card-text">Cornflakes sem Glúten 250gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/doce-de-maca-sem-gluten-380g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;2.90</div>
                <div class=" card-text">Doce de Maçã sem Glúten 380gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/flocos-de-aveia-finos-sem-gluten-400g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;1.99</div>
                <div class=" card-text">Flocos de Aveia Finos sem Glúten 400gr<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
            <div class="card">
                <img src="~/img/Products/flocos-de-aveia-grossos-sem-gluten-400g.jpg" class="card-img-top" alt="...">
                <div class="card-title" style="color: green; font-size: 20px;">&euro;1.99</div>
                <div class=" card-text">Flocos de Aveia Grossos sem Glúten<br /><span style="font-size: 10px;">CEM PORCENTO</span></div>
            </div>
        </div>
    </div>
</main>