@{
    ViewData["Title"] = "Kids Products Page";
}
<head>
    <link href="~/css/kids.css" rel="stylesheet" />
</head>

<main>
    <div class="tes">
        <div class="form justify-content-md-center">
            Categoria
            <select class="form-select" aria-label="Default select example" style="width:210px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Alimentação Saudável</option>
                <option value="1">One</option>
            </select>
            Ordenar
            <select class="form-select" aria-label="Default select example" style="width:120px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Recentes</option>
                <option value="1">One</option>
            </select>
            Filtros
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
                <option value="1">One</option>
            </select>
            Marcas
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
                <option value="1">One</option>
            </select>
            Preço
            <select class="form-select" aria-label="Default select example" style="width:100px; padding:0px 0px 0px 5px;margin-left:5px;">
                <option selected>Todos</option>
                <option value="1">One</option>
            </select>
        </div>
        <p class="c-a-p">Alimentação Saudável <br /><strong>Especial Crianças</strong> </p>
        <div class="first-card-area">

            <a class="col card c-1" asp-action="Product" asp-controller="Home" style="text-decoration: none; color: black">
                <div class="c-1-img">1</div>
                <div class="c-1-text">
                    <p class="badges"><span>BESTSELLER</span> <span> -10%</span></p>
                    <p class="price">&euro;1.79 <s>&euro;1.99</s></p>
                    <p class="name">Go Snack e Amendoim Express 120g</p>
                    <p class="brand">CEM PORCENTO<p>
                </div>
            </a>
            <div class="col-1">
                <div class="card c-2 flex-row">
                    <div class="c-2-img">2</div>
                    <div class="c-2-text">
                        <p class="badges"><span>NOVIDADE</span> <span> IVA ZERO</span></p>
                        <p class="price">&euro;4.49</p>
                        <p class="name">Granola Chocolate sem Glúten 300g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
                <div class="sub-col">
                    <div class=" card c-3">
                        <div class="c-3-img">3</div>
                        <div class="c-3-text">
                            <p class="badges"><span>NOVIDADE</span> <span> IVA ZERO</span></p>
                            <p class="price">&euro;2.99</p>
                            <p class="name">Cornflakes Zero Açucáres sem Glúten 250g</p>
                            <p class="brand">CEM PORCENTO</p>
                        </div>
                    </div>
                    <div class=" card c-4">
                        <div class="c-4-img">4</div>
                        <div class="c-4-text">
                            <p class="badges">2=3</p>
                            <p class="price">&euro;4.49</p>
                            <p class="name">Honey Rings sem Glúten 250g</p>
                            <p class="brand">CEM PORCENTO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class=" card c-5">
                    <div class="c-5-img">5</div>
                    <div class="c-5-text">
                        <p class="badges"><span>-10%</span></p>
                        <p class="price">&euro;1.79 <s>&euro;1.99</s></p>
                        <p class="name">Go Snack Caju e Coco Express 120g</p>
                        <p class="brand">CEM PORCENTO</p>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <div class="test"></div>

    <div style="margin-bottom: 50px;">
        <div class="card-group d-flex flex-row" style="margin: 5%;">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;3.29</div>
                <div class=" card-text">Aveia + Deliciosa Cacau Instantânea 500gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;1.99</div>
                <div class=" card-text">Aveia + Nutritiva Instantânea 500gr<br />CEM PORCENTO</div>
            </div>
                    <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.49</div>
                <div class=" card-text">Bolacha Aurora Original sem Glúten 100gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.49</div>
                <div class=" card-text">Bolacha Cacau sem Glúten 100gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.99</div>
                <div class=" card-text">Bolacha Maria sem Açúcar e sem Glúten 200gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;4.49</div>
                <div class=" card-text">Choco-balls sem Glúten 200gr<br />CEM PORCENTO</div>
            </div>  
        </div>
    
        <div class="card-group d-flex flex-row" style="margin: 0% 5%;">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.5</div>
                <div class=" card-text">Choco-muesli 250gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.99</div>
                <div class=" card-text">Choco-rice 250gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.99</div>
                <div class=" card-text">Cornflakes sem Glúten 250gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.90</div>
                <div class=" card-text">Doce de Maçã sem Glúten 380gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;1.99</div>
                <div class=" card-text">Flocos de Aveia Finos sem Glúten 400gr<br />CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;1.99</div>
                <div class=" card-text">Flocos de Aveia Grossos sem Glúten<br />CEM PORCENTO</div>
            </div>
        </div>
    </div>














</main>