@{
    ViewData["Title"] = "Product Page";
}
<head>
    <link href="~/css/product.css" rel="stylesheet" />
</head>

<main>

    <div class="main-part ">
        <div class="links">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Kids" asp-controller="Home">Produtos para crianças</a></li>
                    <li class="breadcrumb-item active produto" aria-current="page">Produto</li>
                </ol>
            </nav>
            <div class="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                <a asp-action="Kids" asp-controller="Home">voltar</a>
            </div>
        </div>
        
        <div class="product-area">
            <div class="top-product-area">
                <div class="img-area">
                    <div class="preview-img">
                        <div>1</div>
                        <div>2</div>
                    </div>
                    <div class="product-img">
                        1
                    </div>
                </div>
                <div class="info-area">
                    <div class="info-card">1</div>
                    <div class="info-card">2</div>
                    <div class="info-card">3</div>
                    <div class="info-card">4</div>
                    <div class="info-card">5</div>
                    <div class="info-card i-c-6">
                        <p>6.1</p>
                        <div class="mini-cards">
                            <div>6.2</div>
                            <div>6.3</div>
                        </div>
                    </div>
                    <div class="info-card">7</div>
                    <div class="info-card">8</div>
                </div>
            </div>
            
            <div class="description-area">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>                   
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Accordion Item #4
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Accordion Item #5
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="sugestion" >
        <div class="card-group d-flex flex-row" style="margin: 0% 5%;">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">preco</div>
                <div class=" card-text">nome</div>
            </div>
        </div>
    </div>



</main>
