@{
    ViewData["Title"] = "Product Page";
}
<head>
    <link href="~/css/product.css" rel="stylesheet" />
</head>

<main>

    <div class="main-part ">
        <div class="links">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Kids" asp-controller="Home">Produtos para crianças</a></li>
                    <li class="breadcrumb-item active produto" aria-current="page">Produto</li>
                </ol>
            </nav>
            <div class="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                <a asp-action="Kids" asp-controller="Home">voltar</a>
            </div>
        </div>
        
        <div class="product-area">
            <div class="top-product-area">
                <div class="img-area">
                    <div class="preview-img">
                        <div>1</div>
                        <div>2</div>
                    </div>
                    <div class="product-img">
                        1
                    </div>
                </div>
                <div class="info-area">
                    <div class="info-card i-c-1">CEM PORCENTO</div>
                    <div class="info-card i-c-2"><strong>Go Snack! Cacau e Amendoin Express 120g</strong></div>
                    <div class="info-card i-c-3"><strong style="color:green;">&check;</strong>Ingredienter 100% naturais 
                                           <br /><strong style="color:green;">&check;</strong>Sem adição de açúcar
                                           <br /><strong style="color:green;">&check;</strong>Prático e nutritivo </div>
                    <div class="info-card i-c-4"><span class="sp-1">BESTSELLER</span>  <span class="sp-2">-10%</span></div>
                    <div class="info-card i-c-5">&euro;1.79 <s class="min-price"> &euro;1.99</s></div>
                    <div class="info-card i-c-6">
                        <div class="quant">
                            <p>x1 <br /> &euro;1.79 /u</p>
                            <p>x12 <span>-5%</span> <br /> &euro;1.70 /u</p>
                        </div>
                        <p style="color:red">&heartsuit;  Combinação perfeita de prazer </p>
                        <div class="mini-cards">
                            <div>
                                <div class="i-c-img">img here</div>
                                <p><strong style="color: green; font-size: 20px;">&euro;9.88</strong><br /> x1 Go Snack e Amendoin Express 120g + x1 Batido Diet Morango 7 saquetas</p>
                            </div>
                            <div>
                                <div class="i-c-img">img here</div>
                                <p><strong style="color: green; font-size: 20px;">&euro;2.98</strong><br /> x1 Go Snack e Amendoin Express 120g + x1 Batido Diet Cenoura 7 saquetas</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-card i-c-7" style="display: flex; gap: 10%; height: 45px;">
                        <p style=" border: 1px solid gray;width: 50%; height: 45px; text-align:center; padding:1.5%">-  |  1  |  +</p>
                        <button class="btn-warning" style="display:flex; border-radius:15px; height:45px;width: 50%; align-items:center ;padding:1.5%">
                            <img src="~/img/Icons/cart.png" width="20" style="position:relative; top:3px;" />
                            Adicionar
                        </button>
                    </div>
                    <div class="info-card i-c-8">Acumule 10% em cartão na compra deste produto</div>
                </div>
            </div>
            
            <div class="description-area">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Descrição
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Go Snack Express, de cacau e amendoin, com alto teor em fibra e sem adição de açúcar <br />
                                Categoria: snacks e barras <br />
                                Quantidade líquida:120g <br />
                                <br />
                                <span>Benefícios</span> <br />
                                Com egredientes 100% vegetais, alto teor em fibra e sem açúcares adicionados.Sem corantes nem
                                conservantes.Embalagen 100% reciclável.Impressão em carbono neutro. <br />
                                <br />
                                <span>Recomendações</span> <br />
								Ideal para tomar entre refeições, como sobremesas ou pré-treino.<br />
                                <br />
                                <span>Conservação</span> <br />
                                Conservar em local fresco e seco.Manter a embalagem bem fechada
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Informação Técnica
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"></div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Folheto Receitas 
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"></div>
                        </div>
                    </div>                   
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Encontrar este produto em loja
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"></div>
                        </div>
                    </div>                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Receitas
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="sugestion" >
        <p style="margin-left:5%">Sugestões da mesma categoria</p>
        <div class="card-group d-flex flex-row" style="margin: 0% 5%;">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;3.29</div>
                <div class=" card-text">
                    Aveia + Deliciosa Cacau Instantânia 500gr
                    <br/>CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;1.99</div>
                <div class=" card-text">
                    Aveia + Nutritiva Instantânia 500gr
                    <br/>CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.49</div>
                <div class=" card-text">
                    Bplacha Aurora Original sem Glúten 100gr
                    <br/>CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.49</div>
                <div class=" card-text">
                    Bolacha Cacau Sem Glúten 100gr
                    <br/>CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.99</div>
                <div class=" card-text">
                    Bolacha Maria Sem Açúcar e Sem Glúten 200gr
                    <br/>CEM PORCENTO</div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-title">&euro;2.49</div>
                <div class2=" card-text">
                    Choco-Balls Sem Glúten 250gr
                    <br/>CEM PORCENTO</div>
            </div>
        </div>
    </div>



</main>
