<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CemPorcento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CemPorcento.styles.css" asp-append-version="true" />
</head>
<body>
    <header>   
        <div class="top-section">
            <div class="icon-1"></div>
            <p class="h-p-1">
                Envio grátis paea compras <strong>>25&euro;</strong>(PT Continental). 
                Termine a sua encomenda em <strong><span id="timer"></span></strong> 
                e receba-a amanhã! 
            </p>
            <div class="icon-2"></div>
            <div class="dropdown">
                <button class="btn dropdown-toggle disabled" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajuda? Apoio ao cliente
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="icon-3"></div>
            <p class="h-p-2">Login/Conta</p>
            <div class="dropdown">
                <button class="btn dropdown-toggle disabled" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    EUR &euro;                                                                                                                                  
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">USD &dollar;</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle disabled" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/img/Icons/portugal_8603465.png" style="width: 25px;">
                    PT
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">
                            <img src="~/img/Icons/england-flag_11784787.png" style="width: 25px;">
                            EN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <ul class="nav n-m">
            <li class="nav-item dropdown">
				<button class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="#">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu" style="width:800px">
                            <div class="dropdown-content">
                                <div class="row">
                                    <div class="column">
                                        <h3>Category 1</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="column">
                                        <h3>Category 2</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                    <div class="column">
                                        <h3>Category 3</h3>
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div>
                                </div>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item disabled" href="#">Submenu item 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item disabled" href="#">Submenu item 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item disabled" href="#">Submenu item 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item disabled" href="#">Submenu item 1</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
		<div class="mask"></div>
		<nav class="navbar navbar-expand-lg navbar-light bar ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#" style="position: relative; top: 50px;">Alimentação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="position: relative; top: 50px;">Suplementos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px;">Cosmetica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px;">Nutrição despostiva</a>
                        </li>
                        <li class="nav-item nav-img">
                            <a class="nav-link disabled" href="#"><img src="~/img/Cem Porcento_logo.png" width="110" height="auto" style="position: relative; left: 190px; top: 43px;" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px; left:300px;">Slim Verão</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px; left:300px;">Novas Marinheiras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px; left:300px;"><img src="~/img/Icons/promotions.png" width="20px" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" style="position: relative; top: 50px; left:300px;"><img src="~/img/Icons/procurar(1).png" width="20px"/></a>
                        </li>
						<li class="nav-item">
                            <button class="btn-warning" style="position: relative; top: 50px; left:300px;display:flex; border-radius:15px;">
                                <img src="~/img/Icons/cart.png" width="20" style="position:relative; top:3px;"/>
                                <p>Carrinho</p>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div class="left">
            <div class="social">
                <img src="~/img/Cem Porcento_logo.png" width="150" height="auto" alt="Alternate Text" />
            </div>
            <p>test</p>
        </div>
        <div class="midle">2</div>
        <div class="right">3</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jan 5, 2030 15:29:30").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = hours + "h "
                + minutes + "m " + seconds + "s ";

        }, 1000);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
