.satisfy-regular{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.big-img {
    position:relative;
    top:0px;
    width: 100%;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
}

.first-card-area{
    margin: 5%;
    height: 150px;
    display: flex;
}

.first-card-area .no-img {
    width: 25%;
    height: 144px;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    text-align: center;
    line-height: 200px;
    color: #999;
    border-radius: 15px;
    margin: 0.2%;
}

.nini-text-area {
    width: 150px;
    position: relative;
    left: 6%;
}

.nini-text-area p {
    font-size: 25px;
}

.nini-text-area strong{
    font-size: 40px;
    position: relative;
    top: -20px;
    color: olivedrab;
}

.nini-text-area span {
    position: relative;
    top: -20px;
}

.second-card-area {
    margin: 5%;
    height: 500px;
    width: 1400px;
    display: flex;
    gap: 50px;
}

.col-0, .col-1 {
    width: 425px;
}

.second-card-area .c-2, .c-6 {
    display: flex; 
    flex-direction: row;
}

.c-1-img {
    height: 400px
}

.c-1-text{
    height: 100px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 450px;
    row-gap: 50px;
}

.sub-col {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.c-2 {
    height: 200px;
}

.c-2-img {
    height: 200px;
    width: 160px;
}

.c-3, .c-4 {
    width: 200px;
    height: 300px;
}

.c-3-img {
    height: 65%
}

.c-4-img {
    height: 65%
}

.c-5 {
    height: 200px;
    flex-direction: row;
}

.c-5-img {
    height: 200px;
}

.c-6 {
    height: 250px;
}

.c-6-img {
    width: 50%;
    height: 100%;
}

.second-card-area .badges, .price, .name, .brand {
    margin: 0px;
}

.second-card-area .badges span {
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 15px;
    margin: 5px 5px;
}

.second-card-area .new {
    border: 1px dashed blue;
    color: blue;
}

.second-card-area .discount {
    color: white;
    background-color: orangered;
}

.second-card-area .price {
    color: green;
    font-size: 25px;
}

.second-card-area .old {
    color: black;
    font-size: 10px;
}

.second-card-area .brand {
    font-size: 10px;
}

.main{
    background-color: whitesmoke; 
    position: relative;
    z-index: 11;
}


.slogan {
    position: relative;
    top: 50px;
    text-align: center;
}

.slogan p {
    font-size: 35px;
    color: green;
    margin: 0px;
    padding: 5px;
}

.slogan strong {
    font-size: 100px;
}

.slogan .citacao {
    font-size: 20px;
}

.slogan .name {
    font-size: 10px;
}




.area-card {
    margin: 5%;
    height: 400px;
}

.top, .bottom {
    height: 200px;
    display: flex;
    gap: 2.5%;
}

.top {
    margin-bottom: 5px;
}

.t-c-1, .t-c-2 {
    background-color: #f0f0f0;

    background-color: #f0f0f0;
    border-radius: 15px;
    position:relative;
}

.t-c-1 {
    width: 30%;
}

.t-c-2 {
    width: 60%;
}

.top-mask, .bottom-mask {
    width: 1550px;
    height: 150px;
    background-color: whitesmoke;
    mask-size: 100%;
    mask-repeat: no-repeat;
}

.top-mask {
    mask-position: 0% 0%;
    mask-image: url(../img/bar.png);
    position: relative;
    bottom: -45px;
    z-index: 10;
}

.bottom-mask {
    mask-image: url(../img/header.png);
    mask-position: 0% 100%;
    position: relative;
    top: -110px;
    z-index:10
}

.fourth-card-area{
    position: relative; 
    top: -70px;
}

.for-c-t {
    position: relative;
    left: 5%;
}

.f-card-area {
    margin: 5%;
    height: 380px;
    width: auto;
    display: flex;
    gap: 3px;
    position: relative;
}

.f-card {
    width: 220px;
}

.f-c-img {
    background-color: #f0f0f0;

    text-align: center;
    height: 60%;
}

.f-c-text {

    height:40%; 
}

.f-c-text span {
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 15px;
    margin: 5px 5px;
}

.f-c-text .price {
    color: green;
    font-size: 25px;
}

.f-c-text .old {
    color: black;
    font-size: 10px;
}

.f-c-text .best {
    border: 1px solid black;
}

.f-c-text .discount {
    color: white;
    background-color: orangered;
}

.f-c-text .new {
    border: 1px dashed blue;
    color: blue;
}

.f-c-text .brand {
    font-size: 10px;
}

.f-c-text .iva {
    background-color: yellow;
}

.f-c-text .deal {
    color: white;
    background-color: lawngreen;
}

.f-c-text .end{
    color: white;
    background-color: red;
}

.f-c-text .code{
    border: 1px dashed blue;
}

.fift-card-area .text{
    text-align: center
}

.fi-card-area {
    margin: 0.5%;
    height: 250px;
    display: flex;
    gap: 0.1%;
    position: relative;
}

.fi-c {
    width: 25%;
    height: auto;
}

.istagram {
    height: 30px;
    width: 340px;
    position: relative;
    right: -70%;
    display: flex;
    gap: 10px;
}

.insta-img {
    height: 25px;
    width: 25px;
    background-color: #f0f0f0;

}

.sixt-card-area {
    height: 680px;
    background-color: whitesmoke;
    mask: url(../img/bar.png);
    mask-size: 100%;
    mask-repeat: no-repeat; 
    position: relative;
}

.s-c-p{
    position: relative;
    top: 150px;
    left: 150px;
    color: #eead2d;
    
}

.s-c {
    margin: 5%;
    height: 350px;
    display:flex;
    position: relative;
    top: 95px;
    gap: 1%
}

.s-card {
    width: 35%;

    color: #999;
    border-radius: 15px;
}

.s-c-img {
    height: 70%;
    background-color: #f0f0f0;

    color: #999;
    border-radius: 15px;
}

.s-c-text {
    height: 30%;
    background-color: white;

    color: black;
}


@media screen and (max-width:1470px){
    .second-card-area, .third-card-area, .s-c {
        margin: 3%;
    }

    .third-card-area {
        top: -10px;
    }

    .s-c-p{
        top: 130px;
    }
}

@media screen and (max-width:1410px) {
    .second-card-area, .third-card-area, .s-c {
        margin: 1%;
    }

    .third-card-area {
        top: -10px;
    }

    .s-c-p {
        top: 110px;
    }
}

@media screen and (max-width:1400px) {
    .second-card-area, .third-card-area, .s-c {
        margin: 0%;
    }

    .third-card-area {
        top: -10px;
    }

    .s-c-p {
        top: 90px;
    }
}

@media screen and (max-width:1370px) {
    .c-1-text, .c-2-text, .c-3-text, .c-4-text, .c-5-text, .c-6-text {
        width: 150px;
    }
}

@media screen and (max-width:1300px){
    .second-card-area{
        gap: 5px;
    }

    .sub-col{
        gap: 5px;
    }
}

@media screen and (max-width: 1270px) {
    .s-c-text {
        height: auto;
    }

    .s-c-text p {
        margin: 0px;
    }

    .sixt-card-area {
        display: inherit;
    }
}

@media screen and (max-width: 1220px){
    .c-6{ 
        display:none;
    }

    .c-2{
        width: 320px;
    }

    .c-5{
        position: relative;
        left: -110px;
    }

    .reactive{
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    .s-card .s-c-3 {
        display: none
    }
}

@media screen and (max-width: 1100px) {
    .col-2 {
        display: none;
    }

    .second-card-area {
        padding-left: 10%;
    }
}

@media screen and (max-width:1030px){
    .reactive-2{
        display: none;
    }

    .instagram {
        right: -50%;
    }
}

@media screen and (max-width:930px) {
    .col-2, .c-6 {
        display: inherit;
    }

    .second-card-area {
        flex-direction: column;
        padding: 0% 5%;
        width: 930px;
        height: auto;
        gap: 20px 20px;
    }

    .col-1, .col-2{
        gap: 20px;
    }

    .sub-col {
        flex-direction: column;
        gap: 20px 20px;
    }

    .c-1, .c-2, .c-3, .c-4, .c-5, .c-6 {
        display: flex;
        flex-direction: row;
        width: 900px;
        height: 400px;
        gap: 5px;
    }

    .c-1-img, .c-2-img, .c-3-img, .c-4-img, .c-5-img, .c-6-img {
        width: 450px;
        height: 400px;
    }
    
    .c-1-text, .c-2-text, .c-3-text, .c-4-text, .c-5-text, .c-6-text {
        width: 400px;
        font-size: 20px;
    }
    
    .second-card-area .badges, .price, .name, .brand {
        margin: 15px;
    }

    .second-card-area .name{
        width:350px;
    }

    .second-card-area .badges span {
        border-radius: 6px;
        padding: 1px 5px;
        font-size: 20px;
        margin: 5px 5px;
    }

    .second-card-area .old {
        font-size: 15px;
    }

    .second-card-area .brand {
        font-size: 15px;
    }
}

@media screen and (max-width:870px) {
    .second-card-area{
        padding: 0%;
    }
}

@media screen and (max-width: 820px){
    .second-card-area{
        height: auto;
        padding: 0% 20%;
        width: 100%;
    }
    .c-1, .c-2, .c-3, .c-4, .c-5, .c-6 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        gap: 5px;
    }

    .reactive-3{
        display: none;
    }
    .fi-c {
        width: 33%;
    }

    .instagram {
        right: 5%;
    }
}

@media screen and (max-width: 760px){
    .reactive-1{
        display: none;
    }

    .t-c-1, .t-c-2{
        width: 50%;
    }

    .slogn strong{
        font-size: 80px;
        position: relative;
        top: -40px;
    }
}

@media screen and (max-width:620px){
    .reactive-4{
        display:none;
    }

    .fi-c{
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .second-card-area{
        padding: 0% 2%;
    }

    .c-1, .c-2, .c-3, .c-4, .c-5, .c-6{
        height:210px;
        flex-direction: row;
        left: 0px;
    }

    .c-1-img, .c-2-img, .c-3-img, .c-4-img, .c-5-img, .c-6-img {
        width: 200px;
        height: 200px;
    }

    .second-card-area .name {
        width: 250px;
    }

    .sub-col{
        display: none;
    }

    .slogan{
        margin-bottom: 50px;
    }
    .slogan p {
        font-size: 25px;
        padding: 0px;
    }
    .slogan strong{
        font-size:60px
    }
    
    .slogan .citacao {
        font-size: 15px;
    }

    .sixt-card-area{
        display: none;
    }
}
