main{
    height: 1100px;
}

.big-img {
    position:relative;
    top:0px;
    width: 100%;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
}

.first-card-area{
    margin: 5%;
    height: 150px;
    display: flex;
}

.first-card-area .no-img {
    width: 25%;
    height: 144px;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    text-align: center;
    line-height: 200px;
    color: #999;
    border-radius: 15px;
    margin: 0.2%;
}

.nini-text-area {
    width: 150px;
    position: relative;
    left: 6%;
}

.nini-text-area p {
    font-size: 25px;
}

.nini-text-area strong{
    font-size: 40px;
    position: relative;
    top: -20px;
    color: olivedrab;
}

.nini-text-area span {
    position: relative;
    top: -20px;
}

.second-card-area {
    margin: -50px 5% 70px;
    height: 600px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.col-l{
    width: 1000px;
    display:flex;
    gap: 50px;
}

.col-0, .col-1 {
    width: 450px;
}

.c-1-img {
    background-color: #f0f0f0;
    text-align: center;
    color: #999;
    height: 80%
}

.col-2 {
    display: flex;
    flex-direction: column;
    width: 450px;
    column-gap: 100px;
}

.sub-col {
    display: flex;
    gap: 12px;
    margin-top: 100px;
}

.c-2 {
    height: 175px;

    display: flex;
}

.c-2-img {
    background-color: #f0f0f0;

    text-align: center;
    color: #999;
    height: 100%;
    width:192.08px;
}

.c-3, .c-4 {
    width: 193.68px;
    height: 299.04px;

}

.c-3-img {
    background-color: #f0f0f0;

    text-align: center;
    color: #999;
    height: 65%
}

.c-4-img {
    background-color: #f0f0f0;

    text-align: center;
    color: #999;
    height: 65%
}

.c-5 {
    height: 300px;
    margin-bottom: 24.92px;
    display: flex;
    flex-direction: column;

}

.c-5-img {
    height: 70%;
}

.c-6 {
    height: 175px;
    margin-top: 50px;
    display: flex;
}

.c-6-img {
    background-color: #f0f0f0;

    text-align: center;
    color: #999;
    width: 40%;
    height: 100%;
}

.second-card-area .badges, .price, .name, .brand {
    margin: 0px;
}

.second-card-area .badges span {
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 15px;
    margin: 5px 5px;
}

.second-card-area .new {
    border: 1px dashed blue;
    color: blue;
}

.second-card-area .discount {
    color: white;
    background-color: orangered;
}

.second-card-area .price {
    color: green;
    font-size: 25px;
}

.second-card-area .old {
    color: black;
    font-size: 10px;
}

.second-card-area .brand {
    font-size: 10px;
}

.third-card-area{
      position: relative;
      top: -70px;
}

.main{
    background-color: whitesmoke; 
}

.slogan {
    position: relative;
    top: 50px;
}

.slogan p {
    font-size: 35px;
    margin: 0px;
    color: green;
    text-align: center;
}

.slogan strong {
    font-size: 100px;
}

.slogan .citacao {
    position: relative;
    left: 550px;
    bottom: 10px;
    font-size: 20px;
    width: 450px;
}

.slogan .name {
    font-size: 10px;
}

.area-card {
    margin: 5%;
    height: 400px;
}

.top, .bottom {
    height: 200px;
    display: flex;
    gap: 2.5%;
}

.top {
    margin-bottom: 5px;
}

.t-c-1, .t-c-2 {
    background-color: #f0f0f0;

    background-color: #f0f0f0;
    border-radius: 15px;
    position:relative;
    z-index:11;
    height
}

.t-c-1 {
    width: 30%;
}

.t-c-2 {
    width: 60%;
}

.top-mask, .bottom-mask {
    width: 1550px;
    height: 150px;
    background-color: whitesmoke;
    mask-size: 100%;
    mask-repeat: no-repeat;
}

.top-mask {
    mask-position: 0% 0%;
    mask-image: url(../img/bar.png);
    position: relative;
    bottom: -45px
}

.bottom-mask {
    mask-image: url(../img/header.png);
    mask-position: 0% 100%;
    position: relative;
    top: -110px;
    z-index:10
}

.f-card-area {
    margin: 5%;
    height: 380px;
    display: flex;
    gap: 3px;
    position:relative;
    top: -250px;
}

.f-card {
    width: 220px;
}

.f-c-img {
    background-color: #f0f0f0;

    text-align: center;
    height: 60%;
}

.f-c-text {

    height:40%; 
}

.f-c-text span {
    border-radius: 6px;
    padding: 1px 5px;
    font-size: 15px;
    margin: 5px 5px;
}

.f-c-text .price {
    color: green;
    font-size: 25px;
}

.f-c-text .old {
    color: black;
    font-size: 10px;
}

.f-c-text .best {
    border: 1px solid black;
}

.f-c-text .discount {
    color: white;
    background-color: orangered;
}

.f-c-text .new {
    border: 1px dashed blue;
    color: blue;
}

.f-c-text .brand {
    font-size: 10px;
}

.f-c-text .iva {
    background-color: yellow;
}

.f-c-text .deal {
    color: white;
    background-color: lawngreen;
}

.f-c-text .end{
    color: white;
    background-color: red;
}

.f-c-text .code{
    border: 1px dashed blue;
}

.fift-card-area .text{
    text-align: center
}

.fi-card-area {
    margin: 0.5%;
    height: 250px;
    display: flex;
    gap: 0.1%;
    position: relative;
    top: -250px;
}

.fi-c {
    width: 25%;
    height: auto;
}

.istagram {
    height: 30px;
    width: 340px;
    position: relative;
    left: 70%;
    top: -250px;
    display: flex;
    gap: 10px;
}

.insta-img {
    height: 25px;
    width: 25px;
    background-color: #f0f0f0;

}

.sixt-card-area {
    height: 680px;
    background-color: whitesmoke;
    mask: url(../img/bar.png);
    mask-size: 100%;
    mask-repeat: no-repeat; 
    position: relative;
    top: -210px;
}

.s-c-p{
    position: relative;
    top: 150px;
    left: 150px;
    color: #eead2d;
    
}

.s-c {
    margin: 5%;
    height: 350px;
    display:flex;
    position: relative;
    top: 95px;
    gap: 1%
}

.s-card {
    width: 40%;

    color: #999;
    border-radius: 15px;
}

.s-c-img {
    height: 70%;
    background-color: #f0f0f0;

    color: #999;
    border-radius: 15px;
}

.s-c-text {
    height: 30%;
    background-color: white;

    color: black;
}



@media screen and (max-width: 1100px){
    div .badges{
        display: flex;
        flex-direction: column;
        width: 100px;
    }

    .discount{
        width: 50px;
    }


    .col-0, .col-1, .col-2 {
        height: 500px;
    }

    .sub-col{
        margin-top: 25px;
    }

    .c-6{
        margin-top: 25px;
    }
}

@media screen and (max-width: 972px){
    .second-card-area {
        flex-direction: column;
        width: 900px;
    }

    .col-0, .col-1{
        width: 425px;
    }

    .c-2{
        width: 400px;
    }

    .col-2 {
        flex-direction: row;
        height: 180px;
        width: 800px;
    }
    .c-5{
        flex-direction: row;
        width: 425px;
        height:175px;
    }

    .c-5-img{
        width: 197px;
        height: 175px;
    }

    .c-6 {
        width: 425px;
        height: 175px;
        margin: 0px;
    }
}