header{
    top:0px;
}

main{height:2300px}


.main-part {
    height: 1502px;
    background-color: whitesmoke
}

.main-part .mask {
    width: 1550px;
    height: 140px;
    background-color: whitesmoke;
    mask-image: url(../img/header.png);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: 0% 100%;
    position: relative;
    top: 190px;
}

.links {
    position: relative;
    top: 120px;
    margin: 5%;
    display: flex;
    gap: 600px;
    margin-bottom: 210px;
}

.links nav{
    width:310px;
}

.links a {
    color: lawngreen;
    text-decoration: none;
}

.back{
    display: flex;
    color: lawngreen;
}

.back a {
    position:relative;
    top:-5px;
}

.product-area {
    margin: -5% 5%;
    width: 100%;
    display: flex;
    gap: 50px;
    height:1200px;
}

.top-product-area {
    width: 800px;
    height: 800px;
}

.img-area {
    width: 800px;
    height: 750px;
    display: flex;
}

.preview-img img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.product-img {
    width: 600px;
    margin-bottom: 20px;
}

.description-area {
    width: 530px;
    height: 699px;
    background-color: white;
}

.info-area {
    width: 500px;
    height: 700px;
}

.i-c-1{
    font-size: 15px;
    height: 20px;
}
.i-c-2{
    font-size: 35px;
    padding: 0px;
}
.i-c-3{
    height:80px;
    line-height: 20px;
}

.i-c-3 span {
    margin: 5px;    
}

.i-c-4{ 
    height:30px;
    font-size: 15px;

}

.sp-1{
    padding: 0px 10px;
}

.sp-2{
    background-color: mediumvioletred;
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
}

.i-c-5{
    font-size: 40px;
    color: green;
    height: 50px;   
}

.min-price{
    font-size: 17px;
    color: black;
}
.i-c-6 {
    height: 350px;
}

.quant{
    display: flex;
    gap: 25px;
    font-size: 15px;
    text-align: start;
}

.quant p{
    border: 1px solid #ccc;
    padding: 0px 20px 0px 10px;

}

.quant span {
    background-color: mediumvioletred;
    color: white;
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    left: 15px;
}

.i-c-p {
    margin-top: 20px;
    height: 10px;
}

.mini-cards {
    display: flex;
    gap: 10px;
    height: 300px;
}

.lt, .rt {
    width: 245px;
    height: 150px;
}
.i-c-img{
    display:flex;
}
.i-c-img img {
    width: 115px;
}

.mini-cards p{
    text-align: start;
    font-size: 15px;
}

.i-c-7 {
    display: flex;
    gap: 30px;
    height: 45px;
}

.counter {
    width: 170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #777;
    border-radius: 16px;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #777;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #777;
    user-select: none;
}

main .btn-warning {
    display: flex;
    border-radius: 15px;
    height: 45px;
    width: 50%;
    justify-content: center;
    padding: 1.5%
}

.i-c-8{
    background-color: silver;
    color: white;
    text-align: center;
    margin-top:5px;
    height: 25px;
    border-radius: 16px;
}



.sugestion{
    position: relative;
    top: 250px;
    margin-bottom: 50px;
}

.s-c img{
    background-color: #f0f0f0;
    height: 60%;
}

.s-c .price{
    color: green;
    font-size: 20px;
    font-weight: bold;
}


@media screen and (max-width:1460px){
    .preview-img {
        display: none;
    }

    .top-product-area, .img-area {
        width: 610px;
    }
}
@media screen and (max-width:1230px){
    .product-area {
        gap:0px;
    }
}

@media screen and (max-width:1160px){
    .description-area{
        width: 460px;
    }

    .mini-cards{
        width: 460px;
    }

    .i-c-2 {
        font-size: 30px;
        width: 450px;
    }

    .i-c-7 {
        gap: 20px;
    }

    .counter{
        margin: 0px;
    }

    main .btn-warning{
        width: 40%;
    }

    .i-c-8{
        width: 460px;
    }
}

@media screen and (max-width:1100px){
    .rt{
        display: none;  
    }

    .description-area {
        width: 350px;
    }

    .i-c-2 {
        font-size: 30px;
        width: 340px;
    }

    .i-c-7 {
        gap: 15px;
    }

    main .btn-warning {
        width: 30%;
    }

    .i-c-8 {
        width: 350px;
    }

    .mini-cards{
        margin-left: 35px;
    }
}

@media screen and (max-width: 1000px){
    .product-area {
        margin: -5% 2%;
    }
}

@media screen and (max-width: 970px){
    main .accordion {
        display: none;
    }


    .top-product-area, .img-area, .product-img {
        width: 510px;
        height: 750px;
    }

    .back{
        display: none;
    }
    .product-area {
        height:750px;
    } 
    .main-part {
        height: 1000px;
    }
        .main-part .mask{
            top: 50px;
        }
}

@media screen and (max-width: 860px) {
    .product-area {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 860px;
    }

    .main-part{
        height: 1220px;
    }

    .product-img{
        margin: 0px;
    }

    .description-area, .info-area{
        width: 700px;
        height: 270px;
    }

    .i-c-3, .i-c-6 {
        display: none;
    }


}

@media screen and (max-width: 500px){
    .product-area { 
        align-items: start;
        height: 900px;
        width: 500px;
    }

    .main-part {
        height: 1250px;
        margin-bottom: -90px;
    }

    .description-area, .info-area {
        width: 480px;
        height: 270px;
    }

    .main-part .mask {
        top: 140px;
    }
    main{
        height: 1800px;
    }
}