header{
    top:0px;
}



.main-part {
    height: 1500px;
    position: relative;
    top: 120px;
}

.links{
   margin: 5%;
   display: flex;
   gap: 600px
}

.links nav{
    width:310px;
}

.links a {
    color: lawngreen;
    text-decoration: none;
}

.back{
    display: flex;
    color: lawngreen;
}

.back a {
    position:relative;
    top:-5px;
}

.product-area {
    margin: -5% 5%;
}

.top-product-area {
    display: flex;
    gap: 100px;
    height: 800px;
}

.img-area {
    width: 800px;
    height: 750px;
    display: flex;
    gap: 50px;
}

.preview-img div {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    margin-bottom: 15px;

    
    text-align: center;
    line-height: 200px;
    color: #999;
    border-radius: 15px;
}

.product-img {
    width: 80%;

    background-color: #f0f0f0;
    
    text-align: center;
    line-height: 200px;
    color: #999;
    border-radius: 15px;
}

.info-area {
    width: 500px;
    height: 1060px;
}

.i-c-1{
    font-size: 15px;
    height: 20px;
}
.i-c-2{
    font-size: 35px;
    padding: 0px;
}
.i-c-3{
    height:80px;
}

.i-c-3 span {
   margin: 5px;
}

.i-c-4{ 
    height:30px;
    font-size: 15px;

}

.sp-1{
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 10px;
}

.sp-2{
    background-color: mediumvioletred;
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
}

.i-c-5{
    font-size: 40px;
    color: green;
    height: 50px;   
}

.min-price{
    font-size: 17px;
    color: black;
}
.i-c-6 {
    height: 500px;


  
}

.quant{
    display: flex;
    gap: 25px;
    font-size: 15px;
    text-align: start;
}

.quant p{
    border: 1px solid #ccc;
    padding: 0px 20px 0px 10px;

}

.quant span {
    background-color: mediumvioletred;
    color: white;
    font-size: 10px;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    left: 15px;
}

.i-c-p {
    margin-top: 20px;
    height: 10px;
}

.mini-cards {
    display: flex;
    gap: 20px;
    height: 90%;
}

.mini-cards div {
    width: 50%;
    height: 400px;
}

    .mini-cards img {
        width: 100%;
        height: 70%;

        background-color: #f0f0f0;
    }

.mini-cards p{
    text-align: start;
    font-size: 15px;
}

.counter {
    width: 170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #777;
    border-radius: 16px;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #777;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #777;
    user-select: none;
}

.i-c-8{
    background-color: silver;
    color: white;
    text-align: center;
    margin-top:5px;
    height: 25px;
    border-radius: 16px;
}

.description-area{
    width: 800px;
}

.sugestion{
    position: relative;
    top: 0px;
    margin-bottom: 50px;
}

.s-c img{
    background-color: #f0f0f0;
    height: 60%;
}

.s-c .price{
    color: green;
    font-size: 20px;
    font-weight: bold;
}